/*set the custom cursor as your default cursor*/
body {
    cursor: url('http://www.rw-designer.com/cursor-view/34222.png'), default;
}
/*adjust the size of your image*/
img{
    width: 140px;
    height: 140px;
}
/*set the background as a transparent*/
.row{
    background: rgba(0,0,0,0.7);
}
/*set the place where the buttons should be*/
.btn-group-lg{
    padding-left: 110px; 
}
/*adjust the certain kind of images' size*/
#project{
    width: 280px;
    height: 200px;
}
/*set the certain kind of letters' color*/
#title{
    color: white;
}

/*Controls the size and place of video*/
video#bgvid {
/*set the position to the before every elements*/    
position: fixed; right: 0; bottom: 0;
/*Set the minimum height and width to 100% so it covers the whole page*/
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url() no-repeat;
/*Covers the whole page*/
background-size: cover;
}